---
layout: default
page-title: friendLinks
home-title: This is my friends.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="tags-list">
        <li  class="fadeInUp animated">
            <span class="tag-name" >
                <a href="https://warrest.github.io">「小气的王二狗」</a>
            </span>
                </br>
            <span class="tag-name" >
                <a href="https://my.csdn.net/caojidasabi?locationNum=0&fps=1">「caojidasabi」</a>
            </span>
                </br>
            <span class="tag-name" >
                <a href="https://www.djangoz.com">「Django's blog」</a>
            </span>
        </li>
    </ul>
</main>
{% include footer.html %}
