<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-sclable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/rouge.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Ubuntu" rel="stylesheet">
    <!-- Favicon -->
    <link href="/assets/logo.png" rel="shortcut icon" />
    <link href="/assets/logo.png" rel="apple-touch-icon-precomposed" />
    <!-- Android Lolipop Theme Color -->
    <!-- <meta name="theme-color" content="#1464FB"> -->
    <title>{{ page.title }}</title>
</head>
