<section class="share">

    <h3>有问题的小伙伴们<br>在这里告诉我</h3>



    <a id="gobottom" name="gobottom"></a>

    <a href="https://weibo.com/u/5655278647">
        <img src="../assets/weibo64icon.png" alt="微博关注" title="0123456_89">
    </a>
 
    <a href="https://xukimseven.github.io/assets/scan/qq.jpg">
        <img src="../assets/qq64icon.png" alt="QQ关注" title="电脑重启爱好者">
    </a>
    
    <a href="https://xukimseven.github.io/assets/scan/weixin.jpg">
        <img src="../assets/weixin64icon.png" alt="微信关注" title="樱桃你个车厘子">
    </a>
    
</section>