.go{
	width:47px;
	height:106px;
	background-color:#272822;
	position:fixed;
	_position:absolute;
	right:12px;
	bottom:25%;
	border-radius:5px;
	z-index: 999;
}
.box a{
	text-decoration: none; 
	color: #fff;
}
.box{
	width: 100%;
	height: 33.3%;
	text-align: center;
	padding: 5px;

}
